# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log
*.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

#Misc
CLAUDE.md
_ide/
design/aie_src/aiesim_data/
v++.package_summary
a.xclbin
analyzer_input/